#about {
  padding: 5rem 7rem;
  color: var(--black);
  box-sizing: border-box;
}

#about h1 {
  font-size: 3rem;
}

#about h2 {
  font-size: 1.5rem;
}

#about p {
  font-size: 1rem;
  color: var(--grey);
}
#about li {
  margin: 0.8rem 0;
  color: var(--grey);
}

/* Extra Small (XS) */
@media (max-width: 575px) {
  #about {
    padding: 4rem 1rem;
  }
  #about h1 {
    font-size: 2.5rem;
  }
}

/* Small (SM) */
@media (min-width: 575px) and (max-width: 767px) {
  #about {
    padding: 4rem 3rem;
  }
  #about h1 {
    font-size: 2.5rem;
  }
}

/* Medium (MD) */
@media (min-width: 767px) and (max-width: 991px) {
  #about {
    padding: 4rem 5rem;
  }
}

/* Large (LG) */
@media (min-width: 991px) and (max-width: 1200px) {
  #about {
    padding: 4rem 6rem;
  }
}
