nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3rem;
  padding: 3rem 3rem;
  background-color: black;
  justify-content: space-between;
  color: var(--ffff);
  width: 100%;
  box-sizing: border-box;
}

nav img {
  height: 10rem;
  width: 10rem;
}

nav div {
  background-color: transparent;
  border: 2px solid var(--ffff);
  color: var(--ffff);
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 3rem;
  transition: all;
  transition-duration: 0.5s;
  font-weight: 600;
  cursor: pointer;
}

nav div:hover {
  background-color: var(--ffff);
  color: var(--black);
}

nav span {
  padding: 0.3rem;
  border-radius: 0.5rem;
  transition: all;
  transition-duration: 0.5s;
}
nav span:hover {
  background-color: var(--ffff);
  color: var(--black);
}

.nav-links {
  position: fixed;
  background-color: #e7e7e7cc;
  backdrop-filter: blur(5px);
  top: 0;
  right: 0;
  left: 70%;
  z-index: 12;
}

.nav-links ul {
  height: 100vh;
  gap: 2rem;
}

.nav-links ul li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--black);
  border-bottom: 4px solid transparent;
}
.nav-links a:hover {
  border-bottom: 4px solid var(--black);
}

.nav-show {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.nav-hide {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.nav-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--black);
}

/* Extra Small (XS) */
@media (max-width: 575px) {
  .nav-links {
    left: 0;
  }
  nav {
    padding: 3rem 1rem;
  }
  nav div {
    display: none;
  }
}

/* Small (SM) */
@media (min-width: 575px) and (max-width: 767px) {
  .nav-links {
    left: 40%;
  }
  nav {
    padding: 3rem 2rem;
  }
  nav div {
    display: none;
  }
}

/* Medium (MD) */
@media (min-width: 767px) and (max-width: 991px) {
  .nav-links {
    left: 50%;
  }
}
