#rent {
  padding: 5rem 7rem;
}

#rent h1 {
  font-size: 3rem;
}

.rent-collection {
  width: 80%;
  margin-top: 2rem;
}

.tags {
  gap: 1rem;
  flex-wrap: wrap;
}

.tags span {
  border: 3px solid var(--black);
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3rem;
  transition: all;
  transition-duration: 0.5s;
  cursor: pointer;
}
.tag-nomatch {
  background-color: var(--bg-white);
  color: var(--black);
  border: 3px solid var(--black);
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3rem;
}

.tag-match {
  background-color: var(--black);
  color: var(--bg-white);
}

/* Extra Small (XS) */
@media (max-width: 575px) {
  #rent {
    padding: 4rem 1rem;
  }
  #rent h1 {
    font-size: 2.5rem;
  }
}

/* Small (SM) */
@media (min-width: 575px) and (max-width: 767px) {
  #rent {
    padding: 4rem 3rem;
  }
  #rent h1 {
    font-size: 2.5rem;
  }
}

/* Medium (MD) */
@media (min-width: 767px) and (max-width: 991px) {
  #rent {
    padding: 4rem 5rem;
  }
}

/* Large (LG) */
@media (min-width: 991px) and (max-width: 1200px) {
  #rent {
    padding: 4rem 6rem;
  }
}
