#say {
  background-color: var(--white);
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.say-head {
  justify-content: space-between;
}

.say-head h1 {
  font-size: 2rem;
  font-weight: 800;
}
.say-head div {
  gap: 0.5rem;
}
.say-head button {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: var(--black);
  color: var(--ffff);
  padding: 0.5rem;
  border: 2px solid transparent;
  transition: all;
  transition-duration: 0.5s;
}
.say-head button:hover {
  background-color: var(--ffff);
  color: var(--black);
  border: 2px solid var(--black);
}

.say-body {
  display: flex;
  gap: 1rem;
  height: max-content;
  width: max-content;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 1rem 10rem;
}

.say-body::-webkit-scrollbar,
.slider-parent::-webkit-scrollbar {
  display: none;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider-parent {
  width: 100%;
  height: max-content;
  overflow: auto;
  scroll-behavior: smooth;
}

.single-quote {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid var(--black);
  padding: 2rem;
  color: var(--black);
  background-color: var(--bg-white);
  width: 25rem;
  height: 15rem;
  position: relative;
}

.testimonial {
  color: var(--grey);
  font-size: 1rem;
  margin: 0;
  height: max-content;
  max-width: 100%;
}

.single-quote div {
  position: absolute;
  bottom: 2rem;
}

.single-quote div span {
  justify-content: flex-start;
  gap: 0.5rem;
}

.single-quote div span {
  padding: 0;
}

.single-quote h6 {
  font-size: 1.15rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.5rem;
}

.single-quote h5 {
  font-size: 1.1rem;
  color: var(--black);
  font-weight: 700;
  margin: 0;
}

/* Extra Small (XS) */
@media (max-width: 575px) {
  #say {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .single-quote {
    width: 13rem;
    height: 20rem;
    padding: 0.8rem;
  }
  .say-head h1 {
    font-size: 1.2rem;
  }
  .say-head button {
    height: 2rem;
    width: 2rem;
  }
  .say-body {
    gap: 0.5rem;
  }
  .single-quote h6 {
    font-size: 1rem;
  }
  .single-quote h5 {
    font-size: 0.9rem;
  }
  .single-quote p {
    padding: 0.5rem;
    height: 10rem;
  }
  .testimonial {
    height: fit-content;
    width: 100%;
  }
}

/* Small (SM) */
@media (min-width: 575px) and (max-width: 767px) {
  #say {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .single-quote {
    width: 13rem;
    height: 18rem;
    padding: 0.8rem;
  }
  .say-head h1 {
    font-size: 1.5rem;
  }
  .say-head button {
    height: 2rem;
    width: 2rem;
  }
}

/* Medium (MD) */
@media (min-width: 767px) and (max-width: 991px) {
  #say {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .single-quote {
    width: 15rem;
    height: 22rem;
    padding: 0.8rem;
  }
}

/* Large (LG) */
@media (min-width: 991px) and (max-width: 1200px) {
  #say {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
